.form_heading {
    color: black;
    padding: 0.3rem 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border: solid 1px #A8A8A8;

    background: rgba(207,207,207,1);
    background: -moz-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 1%, rgba(217,217,217,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,207,207,1)), color-stop(1%, rgba(207,207,207,1)), color-stop(100%, rgba(217,217,217,1)));
    background: -webkit-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 1%, rgba(217,217,217,1) 100%);
    background: -o-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 1%, rgba(217,217,217,1) 100%);
    background: -ms-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 1%, rgba(217,217,217,1) 100%);
    background: linear-gradient(to bottom, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 1%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#d9d9d9', GradientType=0 );

}